@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';

@theme {
	--font-sans: 'DM Sans';
	--default-ring-width: 3px;
	--default-ring-color: var(--color-blue-500);
}

html {
	@apply flex size-full items-center justify-center bg-slate-100 p-10;
}
